:root {

  --bgcolormain: hsl(0, 0%, 100%);
  --h1color: hsl(218, 44%, 22%);
  --pcolor: hsl(216, 15%, 48%);
  --bodybgcolor: hsl(212, 45%, 89%);
  --box-shadow-default: 0 2px 8px rgba(0, 0, 0, 0.1);
}



body{
  background: var(--bodybgcolor);
  margin: clamp(0.75rem, 2vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.qrcode{
  max-width: 100%;
  border-radius: 1rem;
}

.container{
  transform: scale(0.5);
  transform-origin: center;
  background: var(--bgcolormain);
  border-radius: 1rem;
  padding: clamp(0.75rem, 2vw, 2rem);
  box-shadow: var(--box-shadow-default)
}

.text{
  font-family: "outfit",Arial, Helvetica, sans-serif;
  text-align: center;

}

h1{
  color: var(--h1color);
  padding-inline-start: clamp(0.75rem, 2vw, 2rem);
  padding-inline-end: clamp(0.75rem, 2vw, 2rem);
}

p{
  font-size: 1rem;
  padding-inline-start: clamp(0.75rem, 2vw, 2rem);
  padding-inline-end: clamp(0.75rem, 2vw, 2rem);
  color:var(--pcolor);
}

@media screen and (min-width:46.875em){
    
.container{
  transform: scale(0.5);
  transform-origin: center;
  display: inline-block;
  align-items: center;
}

.text{
  width: 36rem;
}

h1{
  
  font-size: 2.5rem;
  padding-inline-start: clamp(0.75rem, 2vw, 2rem);
  padding-inline-end: clamp(0.75rem, 2vw, 2rem);

}

p{
  font-size: 2rem;
}
}  
