body{
  background: hsl(212, 45%, 89%);
  margin: calc(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.qrcode{
  max-width: 100%;
  border-radius: 1rem;
}

.container{
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: calc(1rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.text{
  font-family: "outfit",Arial, Helvetica, sans-serif;
  text-align: center;

}

h1{
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

p{
  font-size: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  color:hsl(216, 15%, 48%);
}

@media screen and (min-width:46.875em){
    
.container{
  display: inline-block;
  align-items: center;
}

.text{
  width: 576px;
}

h1{
  
  font-size: 2.5rem;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;

}

p{
  font-size: 2rem;
}
}  
